<h1>Hello! Rails!</h1>
<p>
	現在の時刻は，<%= @time %>です。
</p>
<p>
	<a href="/say/goodbye">さようなら！</a>と表示します。
</p>
<p>
	1 + 2 = <%= 1+2 %> ですよ！
	<br>
	牛と男の子を足すと，<%= "cow" + "boy" %>
	<br>
	1時間後の時刻は <%= 1.hour.from_now %>
</p>